-i https://pypi.org/simple
blinker==1.9.0; python_version >= '3.9'
certifi==2025.8.3; python_version >= '3.7'
charset-normalizer==3.4.2; python_version >= '3.7'
click==8.2.1; python_version >= '3.10'
decorator==5.2.1; python_version >= '3.8'
flask==3.1.1; python_version >= '3.9'
future==1.0.0; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2'
geocoder==1.38.1
idna==3.10; python_version >= '3.6'
itsdangerous==2.2.0; python_version >= '3.8'
jinja2==3.1.6; python_version >= '3.7'
markupsafe==3.0.2; python_version >= '3.9'
numpy==2.3.2; python_version >= '3.11'
pandas==2.3.1; python_version >= '3.9'
psycopg2-binary==2.9.10; python_version >= '3.8'
pyobjc==11.1; python_version >= '3.9'
pyobjc-core==11.1; python_version >= '3.8'
pyobjc-framework-accessibility==11.1; python_version >= '3.9'
pyobjc-framework-accounts==11.1; python_version >= '3.9'
pyobjc-framework-addressbook==11.1; python_version >= '3.9'
pyobjc-framework-adservices==11.1; python_version >= '3.9'
pyobjc-framework-adsupport==11.1; python_version >= '3.9'
pyobjc-framework-applescriptkit==11.1; python_version >= '3.9'
pyobjc-framework-applescriptobjc==11.1; python_version >= '3.9'
pyobjc-framework-applicationservices==11.1; python_version >= '3.9'
pyobjc-framework-apptrackingtransparency==11.1; python_version >= '3.9'
pyobjc-framework-audiovideobridging==11.1; python_version >= '3.9'
pyobjc-framework-authenticationservices==11.1; python_version >= '3.9'
pyobjc-framework-automaticassessmentconfiguration==11.1; python_version >= '3.9'
pyobjc-framework-automator==11.1; python_version >= '3.9'
pyobjc-framework-avfoundation==11.1; python_version >= '3.9'
pyobjc-framework-avkit==11.1; python_version >= '3.9'
pyobjc-framework-avrouting==11.1; python_version >= '3.9'
pyobjc-framework-backgroundassets==11.1; python_version >= '3.9'
pyobjc-framework-browserenginekit==11.1; python_version >= '3.9'
pyobjc-framework-businesschat==11.1; python_version >= '3.9'
pyobjc-framework-calendarstore==11.1; python_version >= '3.9'
pyobjc-framework-callkit==11.1; python_version >= '3.9'
pyobjc-framework-carbon==11.1; python_version >= '3.9'
pyobjc-framework-cfnetwork==11.1; python_version >= '3.9'
pyobjc-framework-cinematic==11.1; python_version >= '3.9'
pyobjc-framework-classkit==11.1; python_version >= '3.9'
pyobjc-framework-cloudkit==11.1; python_version >= '3.9'
pyobjc-framework-cocoa==11.1; python_version >= '3.9'
pyobjc-framework-collaboration==11.1; python_version >= '3.9'
pyobjc-framework-colorsync==11.1; python_version >= '3.9'
pyobjc-framework-contacts==11.1; python_version >= '3.9'
pyobjc-framework-contactsui==11.1; python_version >= '3.9'
pyobjc-framework-coreaudio==11.1; python_version >= '3.9'
pyobjc-framework-coreaudiokit==11.1; python_version >= '3.9'
pyobjc-framework-corebluetooth==11.1; python_version >= '3.9'
pyobjc-framework-coredata==11.1; python_version >= '3.9'
pyobjc-framework-corehaptics==11.1; python_version >= '3.9'
pyobjc-framework-corelocation==11.1; python_version >= '3.9'
pyobjc-framework-coremedia==11.1; python_version >= '3.9'
pyobjc-framework-coremediaio==11.1; python_version >= '3.9'
pyobjc-framework-coremidi==11.1; python_version >= '3.9'
pyobjc-framework-coreml==11.1; python_version >= '3.9'
pyobjc-framework-coremotion==11.1; python_version >= '3.9'
pyobjc-framework-coreservices==11.1; python_version >= '3.9'
pyobjc-framework-corespotlight==11.1; python_version >= '3.9'
pyobjc-framework-coretext==11.1; python_version >= '3.9'
pyobjc-framework-corewlan==11.1; python_version >= '3.9'
pyobjc-framework-cryptotokenkit==11.1; python_version >= '3.9'
pyobjc-framework-datadetection==11.1; python_version >= '3.9'
pyobjc-framework-devicecheck==11.1; python_version >= '3.9'
pyobjc-framework-devicediscoveryextension==11.1; python_version >= '3.9'
pyobjc-framework-dictionaryservices==11.1; python_version >= '3.9'
pyobjc-framework-discrecording==11.1; python_version >= '3.9'
pyobjc-framework-discrecordingui==11.1; python_version >= '3.9'
pyobjc-framework-diskarbitration==11.1; python_version >= '3.9'
pyobjc-framework-dvdplayback==11.1; python_version >= '3.9'
pyobjc-framework-eventkit==11.1; python_version >= '3.9'
pyobjc-framework-exceptionhandling==11.1; python_version >= '3.9'
pyobjc-framework-executionpolicy==11.1; python_version >= '3.9'
pyobjc-framework-extensionkit==11.1; python_version >= '3.9'
pyobjc-framework-externalaccessory==11.1; python_version >= '3.9'
pyobjc-framework-fileprovider==11.1; python_version >= '3.9'
pyobjc-framework-fileproviderui==11.1; python_version >= '3.9'
pyobjc-framework-findersync==11.1; python_version >= '3.9'
pyobjc-framework-fsevents==11.1; python_version >= '3.9'
pyobjc-framework-fskit==11.1; python_version >= '3.9'
pyobjc-framework-gamecenter==11.1; python_version >= '3.9'
pyobjc-framework-gamecontroller==11.1; python_version >= '3.9'
pyobjc-framework-gamekit==11.1; python_version >= '3.9'
pyobjc-framework-gameplaykit==11.1; python_version >= '3.9'
pyobjc-framework-healthkit==11.1; python_version >= '3.9'
pyobjc-framework-imagecapturecore==11.1; python_version >= '3.9'
pyobjc-framework-inputmethodkit==11.1; python_version >= '3.9'
pyobjc-framework-installerplugins==11.1; python_version >= '3.9'
pyobjc-framework-instantmessage==11.1; python_version >= '3.9'
pyobjc-framework-intents==11.1; python_version >= '3.9'
pyobjc-framework-intentsui==11.1; python_version >= '3.9'
pyobjc-framework-iobluetooth==11.1; python_version >= '3.9'
pyobjc-framework-iobluetoothui==11.1; python_version >= '3.9'
pyobjc-framework-iosurface==11.1; python_version >= '3.9'
pyobjc-framework-ituneslibrary==11.1; python_version >= '3.9'
pyobjc-framework-kernelmanagement==11.1; python_version >= '3.9'
pyobjc-framework-latentsemanticmapping==11.1; python_version >= '3.9'
pyobjc-framework-launchservices==11.1; python_version >= '3.9'
pyobjc-framework-libdispatch==11.1; python_version >= '3.9'
pyobjc-framework-libxpc==11.1; python_version >= '3.9'
pyobjc-framework-linkpresentation==11.1; python_version >= '3.9'
pyobjc-framework-localauthentication==11.1; python_version >= '3.9'
pyobjc-framework-localauthenticationembeddedui==11.1; python_version >= '3.9'
pyobjc-framework-mailkit==11.1; python_version >= '3.9'
pyobjc-framework-mapkit==11.1; python_version >= '3.9'
pyobjc-framework-mediaaccessibility==11.1; python_version >= '3.9'
pyobjc-framework-mediaextension==11.1; python_version >= '3.9'
pyobjc-framework-medialibrary==11.1; python_version >= '3.9'
pyobjc-framework-mediaplayer==11.1; python_version >= '3.9'
pyobjc-framework-mediatoolbox==11.1; python_version >= '3.9'
pyobjc-framework-metal==11.1; python_version >= '3.9'
pyobjc-framework-metalfx==11.1; python_version >= '3.9'
pyobjc-framework-metalkit==11.1; python_version >= '3.9'
pyobjc-framework-metalperformanceshaders==11.1; python_version >= '3.9'
pyobjc-framework-metalperformanceshadersgraph==11.1; python_version >= '3.9'
pyobjc-framework-metrickit==11.1; python_version >= '3.9'
pyobjc-framework-mlcompute==11.1; python_version >= '3.9'
pyobjc-framework-modelio==11.1; python_version >= '3.9'
pyobjc-framework-multipeerconnectivity==11.1; python_version >= '3.9'
pyobjc-framework-naturallanguage==11.1; python_version >= '3.9'
pyobjc-framework-netfs==11.1; python_version >= '3.9'
pyobjc-framework-network==11.1; python_version >= '3.9'
pyobjc-framework-networkextension==11.1; python_version >= '3.9'
pyobjc-framework-notificationcenter==11.1; python_version >= '3.9'
pyobjc-framework-opendirectory==11.1; python_version >= '3.9'
pyobjc-framework-osakit==11.1; python_version >= '3.9'
pyobjc-framework-oslog==11.1; python_version >= '3.9'
pyobjc-framework-passkit==11.1; python_version >= '3.9'
pyobjc-framework-pencilkit==11.1; python_version >= '3.9'
pyobjc-framework-phase==11.1; python_version >= '3.9'
pyobjc-framework-photos==11.1; python_version >= '3.9'
pyobjc-framework-photosui==11.1; python_version >= '3.9'
pyobjc-framework-preferencepanes==11.1; python_version >= '3.9'
pyobjc-framework-pushkit==11.1; python_version >= '3.9'
pyobjc-framework-quartz==11.1; python_version >= '3.9'
pyobjc-framework-quicklookthumbnailing==11.1; python_version >= '3.9'
pyobjc-framework-replaykit==11.1; python_version >= '3.9'
pyobjc-framework-safariservices==11.1; python_version >= '3.9'
pyobjc-framework-safetykit==11.1; python_version >= '3.9'
pyobjc-framework-scenekit==11.1; python_version >= '3.9'
pyobjc-framework-screencapturekit==11.1; python_version >= '3.9'
pyobjc-framework-screensaver==11.1; python_version >= '3.9'
pyobjc-framework-screentime==11.1; python_version >= '3.9'
pyobjc-framework-scriptingbridge==11.1; python_version >= '3.9'
pyobjc-framework-searchkit==11.1; python_version >= '3.9'
pyobjc-framework-security==11.1; python_version >= '3.9'
pyobjc-framework-securityfoundation==11.1; python_version >= '3.9'
pyobjc-framework-securityinterface==11.1; python_version >= '3.9'
pyobjc-framework-securityui==11.1; python_version >= '3.9'
pyobjc-framework-sensitivecontentanalysis==11.1; python_version >= '3.9'
pyobjc-framework-servicemanagement==11.1; python_version >= '3.9'
pyobjc-framework-sharedwithyou==11.1; python_version >= '3.9'
pyobjc-framework-sharedwithyoucore==11.1; python_version >= '3.9'
pyobjc-framework-shazamkit==11.1; python_version >= '3.9'
pyobjc-framework-social==11.1; python_version >= '3.9'
pyobjc-framework-soundanalysis==11.1; python_version >= '3.9'
pyobjc-framework-speech==11.1; python_version >= '3.9'
pyobjc-framework-spritekit==11.1; python_version >= '3.9'
pyobjc-framework-storekit==11.1; python_version >= '3.9'
pyobjc-framework-symbols==11.1; python_version >= '3.9'
pyobjc-framework-syncservices==11.1; python_version >= '3.9'
pyobjc-framework-systemconfiguration==11.1; python_version >= '3.9'
pyobjc-framework-systemextensions==11.1; python_version >= '3.9'
pyobjc-framework-threadnetwork==11.1; python_version >= '3.9'
pyobjc-framework-uniformtypeidentifiers==11.1; python_version >= '3.9'
pyobjc-framework-usernotifications==11.1; python_version >= '3.9'
pyobjc-framework-usernotificationsui==11.1; python_version >= '3.9'
pyobjc-framework-videosubscriberaccount==11.1; python_version >= '3.9'
pyobjc-framework-videotoolbox==11.1; python_version >= '3.9'
pyobjc-framework-virtualization==11.1; python_version >= '3.9'
pyobjc-framework-vision==11.1; python_version >= '3.9'
pyobjc-framework-webkit==11.1; python_version >= '3.9'
python-dateutil==2.9.0.post0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
pytz==2025.2
pyyaml==6.0.2; python_version >= '3.8'
ratelim==0.1.6
requests==2.32.4; python_version >= '3.8'
shapely==2.1.1; python_version >= '3.10'
six==1.17.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
sodapy==2.2.0
sqlalchemy==2.0.42; python_version >= '3.7'
typing-extensions==4.14.1; python_version >= '3.9'
tzdata==2025.2; python_version >= '2'
urllib3==2.5.0; python_version >= '3.9'
werkzeug==3.1.3; python_version >= '3.9'
